.head_text
{
  font-family: 'Pangolin', cursive;
  color:#2fc4b2;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main_container
{
  background-color:#d4f3ef;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

body
{
 margin: 0 auto;
 max-width: 100%;
 text-align: center;
}

.main_img
{
  max-width: 20%;
  padding-top:3%;
  height: auto;
  position: relative;
  top: 35px;
}
.slogan_text
{
  font-family: 'Pangolin', cursive;
  color: #12947f;
  font-size:35px;
  display: inline-block;
  margin-top: 20px;
}
.wifi_img
{
  max-width: 2.5%;
  height: auto;
  position: relative;
  margin-bottom: 2%;
}

.middle_container
{
  position: relative;
}

.bigboy_img
{
  max-width: 30%;
  height: auto;
  position: relative;
  display: inline-block;
}
.airport_img
{
  max-width: 5%;
  height: auto;
  display: inline-block;
  position:absolute;
  left: 32%;
  bottom:15%;
}

.plane_img
{
  max-width: 3.5%;
  height: auto;
  position:absolute;
  right:35%;
  transform: rotate(3deg);
}

.bottom_container
{
  position:relative;
}

.brand
{
  font-family: 'VT323', monospace;
  
}
